# Network endpoints
rcon_password "YourSecurePassword"
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
netPort 30120

# Server Info
sv_hostname "TikTok Race"
sv_maxclients 16
sv_licensekey "cfxk_11fUfKqOHIHM1trVcDsIH_34H5TQ"


# Essential resources
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap

# Your custom resource
ensure tiktok-race

# Permissions
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:YOUR_STEAM_ID group.admin

# Server settings
set sv_enforceGameBuild 2802
sv_endpointprivacy true